html, body{
    font-family: "Nunito";
    font-weight: 400;
}
.hero {
    background: linear-gradient(45deg, rgba(173,225,255,1) 0%, rgba(186,175,255,1) 40%, rgba(175,255,182,1) 74%, rgba(175,255,182,1) 100%);
}
.btn-header {
    font-size: 1rem;
    background-color: #0d1821;
    color: #fafafa;
    border-radius: 15%;
}
.heading-title {
    font-size: 5rem;
    font-weight: 800;
}
.heading-title_white {
    color: #fafafa;
}
.heading-subtitle {
    color: #fafafa;
    letter-spacing: .2cm;
}